.contact {
    background: #121212;

    &__content {
        padding: 0 20px;
        display: grid;
        grid-template-columns: auto minmax(500px, 1fr);

        @media (max-width: 976px) {
            padding: 40px 0 0 0;
            grid-template-columns: 1fr;
            grid-gap: 60px;
        }

        grid-gap: 2em;
        align-items: center;
        margin: 0 auto;
        max-width: 1260px;

        @media (min-width: 976px) {
            min-height: 100vh;
        }
        &-text {
            h2 {
                text-align: left;
                @extend %tph2;
                padding-bottom: 15px;
            }

            p {
                font-size: 22px;
                padding: 15px 0;
            }

            &-icon {
                display: flex;
                font-size: 26px;

                &-social {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 15px;
                    background-color: white;
                    color: #121212;
                    border-radius: 50%;
                    margin-top: 12px;
                    transition: 0.2s ease-in-out;

                    &:hover {
                        background-color: #e85222;
                        color: white;
                    }

                    @media (max-width: 976px) {
                        &:hover {
                            background-color: white;
                            color: #121212;
                        }
                    }
                }

                .vk {
                    padding: 10px;
                }

                .inst {
                    padding: 10px 12px;
                }
            }
        }

        &-map {
        }
    }
}

@media (max-width: 976px) {
    .contact__content {
        h2 {
            text-align: center;
        }
    }

    .contact__content-text {
        margin-top: 128px;
        text-align: center;
    }

    .contact__content-text-icon {
        justify-content: center;
    }
}
