:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}

.animate__animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animate__animated.animate__infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animate__animated.animate__repeat-1 {
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: var(--animate-repeat);
  animation-iteration-count: var(--animate-repeat);
}

.animate__animated.animate__repeat-2 {
  -webkit-animation-iteration-count: 2;
  animation-iteration-count: 2;
  -webkit-animation-iteration-count: calc(var(--animate-repeat) * 2);
  animation-iteration-count: calc(var(--animate-repeat) * 2);
}

.animate__animated.animate__repeat-3 {
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
  -webkit-animation-iteration-count: calc(var(--animate-repeat) * 3);
  animation-iteration-count: calc(var(--animate-repeat) * 3);
}

.animate__animated.animate__delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-delay: var(--animate-delay);
  animation-delay: var(--animate-delay);
}

.animate__animated.animate__delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-delay: calc(var(--animate-delay) * 2);
  animation-delay: calc(var(--animate-delay) * 2);
}

.animate__animated.animate__delay-3s {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-delay: calc(var(--animate-delay) * 3);
  animation-delay: calc(var(--animate-delay) * 3);
}

.animate__animated.animate__delay-4s {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-delay: calc(var(--animate-delay) * 4);
  animation-delay: calc(var(--animate-delay) * 4);
}

.animate__animated.animate__delay-5s {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-delay: calc(var(--animate-delay) * 5);
  animation-delay: calc(var(--animate-delay) * 5);
}

.animate__animated.animate__faster {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-duration: calc(var(--animate-duration) / 2);
  animation-duration: calc(var(--animate-duration) / 2);
}

.animate__animated.animate__fast {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-duration: calc(var(--animate-duration) * 0.8);
  animation-duration: calc(var(--animate-duration) * 0.8);
}

.animate__animated.animate__slow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-duration: calc(var(--animate-duration) * 2);
  animation-duration: calc(var(--animate-duration) * 2);
}

.animate__animated.animate__slower {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-duration: calc(var(--animate-duration) * 3);
  animation-duration: calc(var(--animate-duration) * 3);
}

@-webkit-keyframes bounceInRight {
  0%, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(3000px, 0, 0) scaleX(3);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0) scaleX(1);
  }

  75% {
    transform: translate3d(10px, 0, 0) scaleX(0.98);
  }

  90% {
    transform: translate3d(-5px, 0, 0) scaleX(0.995);
  }

  to {
    transform: translateZ(0);
  }
}

@keyframes bounceInRight {
  0%, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(3000px, 0, 0) scaleX(3);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0) scaleX(1);
  }

  75% {
    transform: translate3d(10px, 0, 0) scaleX(0.98);
  }

  90% {
    transform: translate3d(-5px, 0, 0) scaleX(0.995);
  }

  to {
    transform: translateZ(0);
  }
}

.animate__bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}

@-webkit-keyframes rotateIn {
  0% {
    transform: rotate(-200deg);
    opacity: 0;
  }

  to {
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes rotateIn {
  0% {
    transform: rotate(-200deg);
    opacity: 0;
  }

  to {
    transform: translateZ(0);
    opacity: 1;
  }
}

.animate__rotateIn {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
  transform-origin: center;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("/fonts/Roboto-Regular.woff") format("woff"), url("/fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  font-display: swap;
  src: url("/fonts/PTSans-Regular.woff") format("woff"), url("/fonts/PTSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Drina";
  font-display: swap;
  src: url("/fonts/Drina.woff") format("woff"), url("/fonts/Drina.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  font-display: swap;
  src: url("/fonts/SourceSansPro-Regular.woff") format("woff"), url("/fonts/SourceSansPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansProB";
  font-display: swap;
  src: url("/fonts/SourceSansPro-Bold.woff") format("woff"), url("/fonts/SourceSansPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "SourceSansProL";
  font-display: swap;
  src: url("/fonts/SourceSansPro-Light.woff") format("woff"), url("/fonts/SourceSansPro-Light.woff2") format("woff2");
  font-weight: 200;
  font-style: light;
}

@font-face {
  font-family: "WorkSans";
  font-display: swap;
  src: url("/fonts/WorkSans-Bold.woff") format("woff"), url("/fonts/WorkSans-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
botton,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.mainSection__content-left a,
.menu__content-button a {
  font-family: SourceSansPro;
  text-transform: uppercase;
  font-size: calc(20px + 6 * ((100vw - 320px) / 1600));
  background-color: #fc4a02;
  border: 1px solid #fc4a02;
  padding: 6px 30px;
  border-radius: 30px;
  color: black;
  transition: 0.2s all;
}

.mainSection__content-left a:hover,
.menu__content-button a:hover {
  color: white;
  background-color: black;
}

.aboutUs__content h2,
.menu__content h2,
.contact__content-text h2,
.cart__content-sum h2,
.cart__content-pickUp h2 {
  text-align: center;
  font-size: calc(26px + 10 * ((100vw - 320px) / 1600));
  text-transform: uppercase;
  font-family: Drina;
  line-height: 40px;
  font-weight: 600;
}

.header {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
}

.header__content {
  font-family: SourceSansPro;
  padding: 10px 8vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__content-logo {
  display: flex;
  align-items: center;
}

.header__content-logo img {
  height: 80px;
}

.header__content-menu ul {
  font-family: SourceSansPro;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.header__content-menu ul li {
  margin-right: 80px;
}

.header__content-menu ul li:last-child {
  margin-right: 0px;
}

.header__content-menu ul li a {
  color: #ffffff;
  line-height: 1;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.header__content-menu ul li a:hover {
  color: #afafaf;
}

.header__content-basket {
  display: inline-block;
}

.header__content-basket a {
  display: flex;
  font-size: 22px;
  position: relative;
  align-items: center;
}

.header__content-basket a p {
  font-size: 18px;
  padding-left: 10px;
}

.header__content-basket a .count {
  position: absolute;
  top: 12px;
  left: 15px;
  z-index: 2;
  background-color: #fc4a02;
  color: black;
  border-radius: 50%;
  padding: 4px 7px;
  font-size: 14px;
}

.header__content-basket .phone__min {
  display: none;
}

.header__content-phone {
  text-align: end;
}

.header__content-phone a {
  color: #fc4a02;
  font-size: 19px;
}

.header__content-phone p {
  padding-top: 5px;
  font-size: 16px;
  padding-left: 20px;
}

.header__burger {
  display: none;
}

.mainSectionAfter {
  z-index: -1;
  margin-top: -1px;
}

.mainSectionAfter img {
  width: 100%;
}

.mainSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: black;
  width: 100%;
  padding-top: 80px;
  z-index: 100;
}

.mainSection__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding: 1vh 15vw 0vh 15vw;
  margin: 0px auto;
}

.mainSection__content-left {
  text-align: center;
}

.mainSection__content-left h1 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: Drina;
  font-size: calc(40px + 50 * ((100vw - 320px) / 1600));
  text-transform: uppercase;
  margin-bottom: 70px;
}

.mainSection__content-left p {
  display: none;
  margin-bottom: 60px;
}

.mainSection__content-right {
  z-index: 100;
}

.mainSection__content-right img {
  max-height: 80vh;
}

.aboutUs {
  position: relative;
  color: #000;
  position: relative;
  padding: 0;
}

.aboutUs__content {
  padding: 15vh 20px;
  max-width: 1400px;
  margin: 0px auto;
}

.aboutUs__content-item {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.aboutUs__content-item-left {
  width: 80%;
}

.aboutUs__content-item-left p {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: calc(20px + 20 * ((100vw - 320px) / 1600));
  text-align: center;
  line-height: 45px;
}

.aboutUs__content-item-right {
  width: 70%;
}

.aboutUs__content-item-right img {
  width: 100%;
}

.list1 {
  position: absolute;
  top: 60%;
  left: 48%;
  z-index: 100;
}

.list2 {
  position: absolute;
  padding-right: 45px;
  top: -35%;
  right: 5%;
  z-index: 100;
  width: 300px;
}

.list2 img {
  transform: rotate(40deg);
  width: 100%;
}

.list3 {
  position: absolute;
  top: -8%;
  left: 5%;
  z-index: 100;
}

.list3 img {
  width: 65%;
}

.list4 {
  z-index: 100;
  position: absolute;
  top: 90%;
  left: 30%;
  z-index: 100;
}

.list4 img {
  width: 40%;
}

.list5 {
  z-index: 100;
  position: absolute;
  top: 80%;
  left: 75%;
  z-index: 100;
  width: 300px;
}

.list5 img {
  width: 100%;
}

.list6 {
  z-index: 100;
  position: absolute;
  top: -70%;
  left: 5%;
}

.list6 img {
  transform: rotate(45deg);
  width: 50%;
}

#map {
  height: 450px;
  width: 100%;
}

.menuBefore {
  margin-bottom: -1px;
}

.menuBefore img {
  width: 100%;
}

.menuAfter {
  margin-top: -1px;
  padding-bottom: 10vh;
}

.menuAfter img {
  width: 100%;
}

.menu {
  position: relative;
  background-color: black;
  width: 100%;
}

.menu__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  max-width: 1400px;
  margin: 0px auto;
  padding: 10px 40px 50px 40px;
}

.menu__content-item {
  padding: 50px 0 80px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4em 1em;
  font-family: SourceSansPro;
}

.menu__content-item-box img {
  width: 100%;
  transition: 0.3s ease-in-out;
  padding-bottom: 30px;
}

.menu__content-item-box img:hover {
  transform: scale(1.1);
}

.menu__content-item-box a {
  width: 70%;
  text-align: center;
  text-transform: uppercase;
  font-size: calc(14px + 6 * ((100vw - 320px) / 1600));
  display: block;
  margin: auto;
  padding: 1rem 1.25rem;
  text-decoration: none;
  color: white;
  position: relative;
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  z-index: 1;
}

.menu__content-item-box a:after {
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  bottom: 0;
  right: 1.25rem;
  left: 1.25rem;
  background-color: #ffffff;
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  transform-origin: bottom center;
  z-index: -1;
}

.menu__content-item-box a:hover {
  color: #2d2d2d;
}

.menu__content-item-box a:hover:after {
  right: 0;
  left: 0;
  height: 100%;
}

.menu__content-item .menuMin {
  display: none;
}

.menu__content-button {
  text-align: center;
}

.filter {
  margin-top: 100px;
  font-family: SourceSansPro;
}

.filter__content {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 0 0 0;
}

.filter__content ul {
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter__content ul li a {
  font-family: SourceSansPro;
  font-weight: 600;
  color: black;
  transition: 0.2s all;
}

.filter__content ul li a:hover {
  color: #f53906;
}

.filter__content-button {
  display: none;
}

.filter__box-mini {
  overflow: auto;
  flex-wrap: nowrap;
  flex-flow: column nowrap !important;
  position: fixed;
  z-index: 100;
  right: 0;
  bottom: 0;
  padding-top: 70px;
  height: 100%;
  background-color: #e3e3e3;
  width: 100%;
  box-shadow: -3px 2px 9px rgba(88, 88, 88, 0.52);
  transform: translateX(100%);
  transition: 0.3s cubic-bezier(0.69, 0.4, 0.4, 0.75);
}

.filter__box-mini.open {
  transform: translateX(0);
}

.title__box-mini {
  font-family: SourceSansPro;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #f53906;
  width: 100%;
  height: 40px;
  padding: 1vmax 1.5vmax;
  color: white;
  fill: white;
  cursor: pointer;
  font-size: calc(15px + 5 * ((100vw - 320px) / 656));
}

.title__box-mini i {
  width: 1.5vmax;
  height: 1.5vmax;
  color: white;
  font-weight: bold;
  color: white;
}

.contetnt__filter {
  font-family: SourceSansPro;
  padding: 30px;
}

.contetnt__filter__item {
  background-color: white;
}

.contetnt__filter__item ul {
  padding: 20px;
}

.contetnt__filter__item ul li {
  padding-bottom: 15px;
}

.contetnt__filter__item ul li a {
  font-size: calc(16px + 2 * ((100vw - 320px) / 656));
  color: #000;
}

.catalog__content {
  padding: 40px 20px;
  max-width: 1220px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 36px 20px;
}

.catalog__content-item {
  padding: 0 0 20px 0;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.catalog__content-item img {
  width: 100%;
}

.catalog__content-item h3 {
  font-family: SourceSansPro;
  padding: 0 10px;
  color: black;
  margin-top: 19px;
  font-size: calc(16px + 0 * ((100vw - 320px) / 1600));
  line-height: 21px;
  font-weight: 600;
  min-height: 50px;
}

.catalog__content-item p {
  font-family: SourceSansPro;
  color: #f53906;
  font-size: calc(16px + 3 * ((100vw - 320px) / 1600));
  padding-bottom: 15px;
}

.catalog__content-item .add-to-cart {
  border-radius: 3px;
  color: white;
  background: #f53906;
  box-shadow: 2px 2px 3px #989898;
  padding: 5px 1.8em;
  font-size: calc(16px + -2 * ((100vw - 320px) / 1600));
  line-height: 177.6%;
}

.product__content {
  padding: 40px 20px;
  max-width: 1220px;
  margin: 0 auto;
}

.product__content-item {
  display: flex;
  justify-content: center;
}

.product__content-item-image {
  width: 50%;
}

.product__content-item-image img {
  width: 100%;
}

.product__content-item-info {
  font-family: SourceSansPro;
  padding: 10px 20px 0 50px;
  width: 50%;
  color: #000;
}

.product__content-item-info h2 {
  font-size: calc(24px + 6 * ((100vw - 320px) / 1600));
  font-weight: 500;
  padding-bottom: 10px;
}

.product__content-item-info .backMenu__link {
  color: #888888;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  line-height: 22px;
}

.product__content-item-info .price {
  text-align: left;
  padding: 20px 0 30px;
  font-size: 20px;
  line-height: 20px;
  color: #f53906;
}

.product__content-item-info .pay__link {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 5vw;
  background-color: #333333;
  border: 1px solid #333333;
  transition: 0.1s ease-in-out;
}

.product__content-item-info .pay__link:active {
  background-color: #f53906;
}

.product__content-item-info h3 {
  padding: 30px 0 15px;
  font-size: calc(16px + 2 * ((100vw - 320px) / 1600));
  line-height: 20px;
}

.product__content-item-info p {
  text-align: left;
  font-family: SourceSansProL;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  line-height: 20px;
  font-weight: 300;
}

.line {
  margin: 30px 0 20px;
  width: 100%;
  height: 2px;
  background-color: silver;
}

.contact {
  padding-top: 100px;
  background: black;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.contact__content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 2em;
  align-items: center;
  margin: 0 auto;
  width: 900px;
}

.contact__content-text h2 {
  text-align: left;
  padding-bottom: 15px;
}

.contact__content-text p {
  font-size: 22px;
  padding: 15px 0;
}

.contact__content-text-icon {
  display: flex;
  font-size: 26px;
}

.contact__content-text-icon-social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  background-color: white;
  color: black;
  border-radius: 50%;
  margin-top: 12px;
  transition: 0.2s ease-in-out;
}

.contact__content-text-icon-social:hover {
  background-color: #fc4a02;
  color: white;
}

.contact__content-text-icon .vk {
  padding: 10px;
}

.contact__content-text-icon .inst {
  padding: 10px 12px;
}

.cart {
  color: black;
  padding: 100px 20px 80px;
}

.cart__content {
  font-family: Roboto;
  padding: 40px 20px;
  max-width: 1220px;
  margin: 0 auto;
  display: flex;
}

.cart__content-sum {
  width: 35%;
}

.cart__content-sum h2 {
  text-align: left;
}

.cart__content-sum-back {
  display: flex;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
}

.cart__content-sum-back p {
  color: #254e7a;
  padding: 10px 10px 10px 0;
}

.cart__content-sum-back a {
  color: #254e7a;
  padding: 10px 10px 10px 0;
}

.cart__content-sum-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 25px;
}

.cart__content-sum-image a img {
  width: 100px;
}

.cart__content-sum-image-text {
  padding-left: 20px;
  width: 100%;
}

.cart__content-sum-image-text-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart__content-sum-image-text-title a {
  color: #000;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
}

.cart__content-sum-image-text-title .delete {
  font-size: calc(25px + 5 * ((100vw - 320px) / 1600));
  color: #a7a6a6;
}

.cart__content-sum-image-text-remove {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.cart__content-sum-image-text-remove .quantity-block {
  display: flex;
}

.cart__content-sum-image-text-remove .quantity-block button {
  background-color: #333333;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart__content-sum-image-text-remove .quantity-block input {
  width: 50px;
  text-align: center;
}

.cart__content-sum-image-text-remove p {
  font-size: calc(16px + 2 * ((100vw - 320px) / 1600));
  display: flex;
  align-items: center;
}

.cart__content-sum-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  border-top: 1px solid #888888;
}

.cart__content-sum-total h5 {
  font-size: calc(20px + 2 * ((100vw - 320px) / 1600));
}

.cart__content-sum-total p {
  font-size: calc(20px + 2 * ((100vw - 320px) / 1600));
}

.cart__content-sum-else {
  padding-top: 20px;
}

.cart__content-sum-else p {
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
}

.cart__content-sum-else p a {
  color: #254e7a;
}

.cart__content-pickUp {
  width: 65%;
  padding-left: 60px;
}

.cart__content-pickUp h2 {
  text-align: left;
  padding-bottom: 30px;
}

.cart__content-pickUp a {
  font-size: calc(16px + 4 * ((100vw - 320px) / 1600));
  padding: 10px 100px;
  background-color: #333333;
  border-radius: 5px;
  border: 1px solid #333333;
  transition: 0.1s ease-in-out;
}

.cart__content-pickUp a:hover {
  background-color: #ffffff;
  color: #333333;
}

.cart__content-pickUp p {
  padding: 35px 0 25px;
  font-size: calc(18px + 4 * ((100vw - 320px) / 1600));
}

.cart__content-pickUp-item {
  border-top: 1px solid #888888;
  padding-top: 20px;
}

.cart__content-pickUp-item-text h6 {
  font-size: calc(16px + 2 * ((100vw - 320px) / 1600));
  line-height: 22px;
}

.cart__content-pickUp-item-text p {
  padding-top: 5px;
  font-size: calc(16px + 2 * ((100vw - 320px) / 1600));
  line-height: 22px;
  color: #888888;
}

.footer {
  color: black;
}

.footer__content {
  font-family: SourceSansPro;
  font-size: 16px;
  line-height: 24px;
  padding: 40px 20px;
  max-width: 1400px;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__content-left-contact {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.footer__content-left-contact a {
  color: black;
}

.footer__content-left h6 {
  padding-top: 30px;
}

.footer__content-right {
  display: grid;
  justify-items: center;
}

.footer__content-right-menu ul {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.footer__content-right-menu ul li {
  margin-right: 30px;
}

.footer__content-right-menu ul li:last-child {
  margin-right: 0;
}

.footer__content-right-menu ul li a {
  color: #000;
  transition: 0.2s ease-in-out;
}

.footer__content-right-menu ul li a:hover {
  color: #f53906;
}

.footer__content-right-menu ul li a:active {
  border-bottom: 1px solid #000;
}

.footer__content-right-social {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
  width: 50%;
  margin: 0 auto;
}

.footer__content-right-social-item {
  font-size: 30px;
  padding-right: 20px;
}

.footer__content-right-social-item a {
  color: black;
  transition: 0.2s ease-in-out;
}

.footer__content-right-social-item a:hover {
  color: #f53906;
}

.footer__content-right-social-item:last-child {
  padding-right: 0;
}

body {
  color: #fff;
  background-color: white;
  font-family: PTSans;
}

body a {
  color: #fff;
  cursor: pointer;
}

@media (max-width: 1770px) {
  .list1 {
    top: 60%;
    left: 40%;
  }
}

@media (max-width: 1700px) {
  .list6 {
    top: -60%;
    left: 5%;
  }

  .list6 img {
    transform: rotate(45deg);
    width: 50%;
  }
}

@media (max-width: 1440px) {
  .list1 {
    top: 70%;
    left: 38%;
  }
}

@media (max-width: 1350px) {
  .list1 {
    top: 70%;
    left: 35%;
  }
}

@media (max-width: 1300px) {
  .mainSection__content-right img {
    width: 100%;
  }

  .list1 {
    top: 72%;
    left: 40%;
  }

  .list2 {
    top: -26%;
    right: 2%;
  }

  .list2 img {
    transform: rotate(40deg);
    width: 80%;
  }

  .list3 {
    top: 0%;
    left: 5%;
    z-index: 100;
  }

  .list3 img {
    width: 50%;
  }

  .list5 {
    z-index: 100;
    position: absolute;
    top: 85%;
    left: 65%;
    width: 250px;
  }

  .list5 img {
    width: 100%;
  }

  .list6 {
    top: -55%;
    left: 5%;
  }

  .list6 img {
    transform: rotate(45deg);
    width: 30%;
  }

  .product__content-item {
    align-items: center;
  }
}

@media (max-width: 1140px) {
  .basket__text {
    display: none;
  }

  .header__content-phone {
    display: none;
  }

  .header__content-basket {
    display: flex;
    align-items: center;
  }

  .header__content-basket .phone__min {
    display: block;
    margin-left: 25px;
  }
}

@media (max-width: 1000px) {
  .contact__content {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .contact__content h2 {
    text-align: center;
  }

  .contact__content-text {
    text-align: center;
  }

  .contact__content-text-icon {
    justify-content: center;
  }

  .contact__content-map {
    display: none;
  }
}

@media (max-width: 976px) {
  .header__content .header__content-logo img {
    height: 50px;
  }

  body.lock {
    overflow: hidden;
  }

  .header__burger {
    margin-right: 25px;
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3003;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__content-menu {
    z-index: 3;
    position: fixed;
    text-align: center;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: 0.3s cubic-bezier(0.69, 0.4, 0.4, 0.75);
    background-color: #060608;
    padding: 80px 10px 20px 10px;
  }

  .header__content-menu.active {
    left: 0;
  }

  .header__content-menu ul {
    display: block !important;
    margin-top: 20px;
  }

  .header__content-menu ul li {
    margin: 0 0 60px 0;
    margin-right: 0px !important;
    font-size: calc(28px + 32 * ((100vw - 320px) / 656));
  }

  .headerW__content__menuW {
    margin-left: 10vw;
    z-index: 3;
    position: fixed;
    text-align: center;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.3s ease 0s;
    background-color: #060608;
    padding: 80px 10px 20px 10px;
  }

  .headerW__content__menuW.active {
    margin-left: 0vw;
    left: 0;
  }

  .headerW__content__menuW ul {
    display: block !important;
    margin-top: 20px;
  }

  .headerW__content__menuW ul li {
    margin: 0 0 60px 0;
    margin-right: 0px !important;
    font-size: calc(28px + 32 * ((100vw - 320px) / 656));
  }

  .mainSection__content .mainSection__content-left h1 {
    margin-bottom: 10px;
  }

  .mainSection__content .mainSection__content-left p {
    font-size: calc(12px + 8 * ((100vw - 320px) / 1600));
    display: block;
  }

  .mainSection__content {
    grid-template-columns: 1fr;
    padding: 20vh 15vw 15vh 15vw;
  }

  .mainSection__content-left {
    width: 100%;
  }

  .mainSection__content-right {
    display: none;
  }

  .aboutUs__content-item {
    grid-template-columns: 1fr;
    padding-top: 25px;
  }

  .aboutUs__content-item-right {
    display: none;
  }

  .aboutUs__content-item-left {
    width: 100%;
  }

  .aboutUs__content-item-left p {
    line-height: 30px;
  }

  .list1,
  .list2,
  .list3,
  .list4,
  .list5,
  .list6 {
    display: none;
  }

  .menu__content-item .menuMin {
    display: block;
  }

  .menu__content-item {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu__content-item-box img {
    padding-bottom: 0px;
  }

  .menu__content-item {
    padding: 25px 0 0px 0;
  }

  .filter {
    margin-top: 40px;
    background-color: white;
  }

  .filter__content ul {
    display: none;
  }

  .filter__content-button {
    display: block;
    width: 100%;
    padding: 10px 0 22px 0;
  }

  .filter__content-button a {
    width: 90%;
    margin: 0 auto;
    color: #000;
    background-color: #000;
    color: #fff;
    font-size: calc(15px + 5 * ((100vw - 320px) / 656));
    text-align: center;
    padding: 10px 20px;
    display: block;
  }

  .catalog__content {
    padding: 0px 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  .catalog__content-item h3 {
    min-height: 65px;
  }

  .product__content-item {
    display: inline-block;
  }

  .product__content-item-image {
    width: 100%;
    text-align: center;
  }

  .product__content-item-image img {
    width: 60vw;
  }

  .product__content-item-info {
    padding: 10px 10px;
    text-align: center;
    width: 100%;
  }

  .product__content-item-info .price {
    text-align: center;
  }

  .cart {
    color: black;
    padding: 0px 20px 0px;
  }

  .cart__content {
    display: inline-block;
    padding: 20px 5vw;
    width: 100%;
  }

  .cart__content-sum {
    width: 100%;
  }

  .cart__content-pickUp {
    padding-top: 50px;
    padding-left: 0px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .aboutUs__content {
    padding: 6vh 10px 8vh 10px;
  }

  .catalog__content-item h3 {
    line-height: 140%;
    min-height: 50px;
  }

  .catalog__content-item p {
    line-height: 110%;
  }

  .footer__content {
    flex-direction: column;
  }

  .footer__content-left {
    order: 2;
    padding-top: 40px;
  }
}

@media (max-width: 600px) {
  .catalog__content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .cart__content-sum-image a img {
    width: 80px;
  }

  .cart__content-sum-image-text-remove .quantity-block input {
    width: 40px;
    text-align: center;
  }

  .cart__content-pickUp a {
    padding: 10px 20px;
  }
}

@media (max-width: 380px) {
  .catalog__content {
    padding: 0px 20px;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (prefers-reduced-motion: reduce), print {
  .animate__animated {
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
  }

  .animate__animated[class*="Out"] {
    opacity: 0;
  }
}