<div class="filter__box-mini">
	<div class="title__box-mini">
		<p>Фильтры и сортировка</p>
		<i class="fas fa-times"></i>
	</div>
	<div class="contetnt__filter">
		<div class="contetnt__filter__item">
			<ul>
				<li><a href="#">Главные блюда</a></li>
				<li><a href="#">Завтраки</a></li>
				<li><a href="#">Выпечка</a></li>
				<li><a href="#">Супы</a></li>
				<li><a href="#">Салаты</a></li>
				<li><a href="#">Напитки</a></li>
				<li><a href="#">Детское меню</a></li>
			</ul>
		</div>
	</div>
</div>
