<div class="filter__box-mini">
	<div class="title__box-mini">
		<p>Категории</p>
		<i class="fas fa-times"></i>
	</div>
	<div class="contetnt__filter">
		<div class="contetnt__filter__item">
			<ul>
				<li><a href="#">Горячие блюда</a></li>
				<li><a href="#">Супы</a></li>
				<li><a href="#">Завтраки</a></li>
				<li><a href="#">Чебуреки</a></li>
				<li><a href="#">Салаты</a></li>
				<li><a href="#">Холодные закуски</a></li>
				<li><a href="#">Десерты</a></li>
				<li><a href="#">Выпечка</a></li>
				<li><a href="#">Закуски к пиву</a></li>
				<li><a href="#">Напитки</a></li>
			</ul>
		</div>
	</div>
</div>
