<footer class="footer">
	<div class="footer__content">
		<div class="footer__content-left">
			<div class="footer__content-left-contact">
				<p>г. Красноярск, пр. Мира, 53</p>
				<a href="tel:+73912884506">т.288-45-06</a>
				<p>Доставка с 10:00 до 21:00</p>
			</div>
			<h6>© Ресторан Киндза, 2020. Все права защищены.</h6>
		</div>
		<div class="footer__content-right">
			<div class="footer__content-right-menu">
				<ul class="footer__menu">
					<li><a href="/">Главная</a></li>
					<li><a href="/site/menu.html">Меню</a></li>
					<li><a href="/site/сontact.html">Контакты</a></li>
				</ul>
			</div>
			<div class="footer__content-right-social">
				<div class="footer__content-right-social-item">
					<a href="https://vk.com/kinza_cafe"><i class="fab fa-vk"></i></a>
				</div>
				<div class="footer__content-right-social-item">
					<a href="https://www.instagram.com/kinzacafe/"><i class="fab fa-instagram"></i></a>
				</div>
			</div>
		</div>
	</div>
</footer>
