<header class="header">
	<div class="header__content">
		<div class="header__content-logo">
			<div class="header__burger">
				<span></span>
			</div>
			<a href="/"><img src="/img/logo.png" alt="" /></a>
		</div>
		<div class="header__content-menu">
			<ul>
				<li>
					<a href="/site/menu.html">Меню</a>
				</li>
				<li>
					<a href="/#aboutUs">О нас</a>
				</li>
				<li>
					<a href="/site/сontact.html">Контакты</a>
				</li>
			</ul>
		</div>

		<div class="header__content-basket">
			<a href="/site/cart.html" class="basket">
				<i class="fas fa-shopping-basket"></i>
				<div class="count">0</div>
				<p class="basket__text">Корзина</p>
			</a>
			<a class="phone__min" href="tel:+73912884506"">
				<i class="fa fa-phone" aria-hidden="true"></i>
			</a>
		</div>
		<div class="header__content-phone">
			<a href="tel:+73912884506">+7 (391) 288-45-06</a>
			<p>Доставка с 10:00 до 21:00 в Красноярске</p>
		</div>
	</div>
</header>
