.footer {
    color: #121212;

    &__content {
        font-family: SourceSansPro;
        font-size: 16px;
        line-height: 24px;
        padding: 40px 20px;
        max-width: 1400px;
        margin: 0px auto;
        @include disflex(flex, space-around, center);

        &-left {
            &-contact {
                display: grid;
                justify-items: center;
                grid-template-columns: repeat(2, 1fr);

                a {
                    color: #121212;
                }
            }

            h6 {
                padding-top: 30px;
            }
        }

        &-right {
            display: grid;
            justify-items: center;

            &-menu {
                ul {
                    text-transform: uppercase;
                    display: flex;
                    justify-content: center;

                    li {
                        margin-right: 30px;

                        &:last-child {
                            margin-right: 0;
                        }

                        a {
                            color: #121212;
                            transition: 0.2s ease-in-out;

                            &:hover {
                                color: #f53906;
                            }

                            @media (max-width: 976px) {
                                &:hover {
                                    color: #121212;
                                }
                            }

                            &:active {
                                border-bottom: 1px solid #121212;
                            }
                        }
                    }
                }
            }

            &-social {
                padding-top: 30px;
                display: flex;
                justify-content: center;
                border-bottom: 2px solid #121212;
                padding-bottom: 5px;
                width: 50%;
                margin: 0 auto;

                &-item {
                    a {
                        color: #121212;
                        transition: 0.2s ease-in-out;

                        &:hover {
                            color: #f53906;
                        }

                        @media (max-width: 976px) {
                            &:hover {
                                color: #121212;
                            }
                        }
                    }

                    font-size: 30px;
                    padding-right: 20px;

                    &:last-child {
                        padding-right: 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .footer__content {
        flex-direction: column;
    }

    .footer__content-left {
        order: 2;
        padding-top: 40px;
    }
}
