.header {
    // background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    background-color: rgba(18, 18, 18, 0);
    transition: 0.2s all;
    &.fast {
        transition: 0s !important;
    }
    &.out {
        background-color: rgba(18, 18, 18, 1);
    }

    &__content {
        font-family: Montserrat;
        padding: 10px 8vw;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-logo {
            display: flex;
            align-items: center;

            img {
                height: 80px;
            }
        }

        @media (max-width: 976px) {
            .header__content-logo {
                img {
                    height: 50px;
                }
            }
        }

        &-menu {
            ul {
                padding-top: 10px;
                display: flex;
                justify-content: center;
                font-size: 18px;

                li {
                    margin-right: 80px;

                    &:last-child {
                        margin-right: 0px;
                    }

                    a {
                        text-transform: uppercase;
                        color: #ffffff;
                        line-height: 1;
                        text-decoration: none;
                        transition: 0.2s ease-in-out;
                        &:hover {
                            color: #afafaf;
                        }
                    }
                }
            }
        }

        &-basket {
            display: inline-block;

            a {
                display: flex;
                font-size: 22px;
                position: relative;
                align-items: center;

                p {
                    text-transform: uppercase;
                    font-size: 18px;
                    padding-left: 18px;
                }

                .count {
                    position: absolute;
                    top: 12px;
                    left: 15px;
                    z-index: 2;
                    background-color: #e85222;
                    color: rgb(255, 255, 255);
                    border-radius: 50%;
                    padding: 3px;

                    p {
                        font-family: Roboto-Regular;
                        width: 21px;
                        height: 21px;
                        @include disflex(flex, center, center);
                        padding-left: 0;
                        font-size: 16px;
                    }
                }
            }

            .phone__min {
                display: none;
            }
        }

        &-phone {
            text-align: end;

            a {
                color: #fc4a02;
                font-size: 18px;
            }

            p {
                padding-top: 8px;
                font-size: 16px;
                padding-left: 20px;
            }
        }
    }
}

@media (max-width: 1140px) {
    .basket__text {
        display: none;
    }

    .header__content-phone {
        display: none;
    }

    .header__content-basket {
        display: flex;
        align-items: center;

        .phone__min {
            display: block;
            margin-left: 25px;
        }
    }
}
