.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    background-color: #12121200;
    transition: 0.2s all;

    &.fast {
        transition: 0s !important;
    }

    &.out {
        background-color: rgba(18, 18, 18, 1);
        filter: drop-shadow(0px 4px 6px rgba(36, 36, 36, 0.47));
    }

    &__content {
        font-family: Montserrat;
        padding: 10px 8vw;
        @include disflex(flex, space-between, center);

        &-logo {
            @include disflex(flex, stretch, center);

            img {
                height: 80px;
            }
        }

        @media (max-width: 976px) {
            .header__content-logo {
                img {
                    height: 50px;
                }
            }
        }

        &-menu {
            ul {
                @include disflex(flex, center, stretch);
                @include adaptiv-fontAll(18, 14);

                li {
                    margin-right: 80px;

                    &:last-child {
                        margin-right: 0px;
                    }

                    a {
                        text-transform: uppercase;
                        color: #ffffff;
                        line-height: 1;
                        text-decoration: none;
                        transition: 0.2s ease-in-out;

                        &:hover {
                            color: #afafaf;
                        }
                    }
                }
            }
        }

        &-basket {
            display: inline-block;

            a {
                @include disflex(flex, stretch, center);
                @include adaptiv-fontAll(22, 18);
                position: relative;

                p {
                    text-transform: uppercase;
                    @include adaptiv-fontAll(18, 14);
                    padding-left: 18px;
                }

                .count {
                    position: absolute;
                    top: 12px;
                    left: 15px;
                    z-index: 2;
                    background-color: #e85222;
                    color: rgb(255, 255, 255);
                    border-radius: 50%;
                    padding: 3px;

                    p {
                        font-family: Roboto;
                        width: 21px;
                        height: 21px;

                        @media (max-width: 768px) {
                            width: 18px;
                            height: 18px;
                        }

                        @include disflex(flex, center, center);
                        padding-left: 0;
                        @include adaptiv-fontAll(16, 14);
                    }
                }
            }

            .phone__min {
                display: none;
            }
        }

        &-phone {
            text-align: end;

            a {
                color: #fc4a02;
                font-size: 18px;
            }

            p {
                padding-top: 8px;
                font-size: 16px;
                padding-left: 20px;
            }
        }
    }
}

@media (max-width: 1400px) {
    .basket__text {
        display: none;
    }

    .header__content-phone {
        display: none;
    }

    .header__content-basket {
        display: flex;
        align-items: center;

        .phone__min {
            display: block;
            margin-left: 25px;
        }
    }
}
