.catalog {
    &__content {
        padding: 50px 20px;
        max-width: 1220px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 36px 20px;
        justify-content: center;
        &-item {
            text-align: center;

            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            padding: 47px 47px 36px 47px;
            &-image {
                img {
                    width: 100%;
                }
            }
            h3 {
                color: black;
                padding-top: 19px;
                font-size: 20px;
                line-height: 177.6%;
                min-height: 90px;
            }
            p {
                color: #fc4a02;

                font-size: 20px;
                line-height: 177.6%;
            }
            &-button {
                padding-top: 15px;
                a {
                    color: black;
                    background-color: #fc4a02;
                    border-radius: 25px;
                    padding: 5px 3vw;
                    font-size: 20px;
                    line-height: 177.6%;
                }
            }
        }
    }
}
