.cart {
    &__content {
        min-height: 75vh;
        padding: 150px 20px 0px 20px;
        max-width: 1024px;
        margin: 0 auto;
        color: #121212;
        font-family: Roboto;

        h2 {
            @extend %tph2;
            text-align: left;
        }

        h3 {
            @include disflex(flex, center, center);
            @include adaptiv-fontAll(30, 18);
            min-height: 50vh;
        }

        &-back {
            padding: 10px 0;
            display: flex;
            @include adaptiv-fontAll(16, 16);

            p {
                color: rgb(37, 78, 122);
                padding: 10px 10px 10px 0;
            }

            a {
                color: rgb(37, 78, 122);
                padding: 10px 10px 10px 0;
            }
        }

        &-cart {
            &-product {
                padding: 18px 0;
                display: grid;
                grid-template-columns: 38% 22% 33% 7%;
                grid-gap: 1%;
                align-items: center;
                position: relative;

                @media (max-width: 768px) {
                    grid-template-columns: repeat(5, 1fr);

                    justify-content: center;
                    grid-template-areas:
                        "main main main main main "
                        "amount price price price delete";
                }

                &:first-child {
                    &::before {
                        position: absolute;
                        content: "";
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background-color: #c4c4c4;
                    }
                }

                &::after {
                    position: absolute;
                    content: "";
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: #c4c4c4;
                }

                &-main {
                    @media (max-width: 768px) {
                        grid-area: main;
                        margin-bottom: 11px;
                    }

                    min-height: 100px;
                    @include disflex(flex, stretch, center);

                    img {
                        width: 100px;

                        margin-right: 3vw;
                    }

                    &-title {
                        p {
                            max-width: 263px;
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 120%;
                            padding: 0 0px 0 0;

                            a {
                                color: #121212;
                            }
                        }
                    }
                }
            }

            .amount {
                &__content {
                    @include disflex(flex, center, center);
                    flex-direction: column;

                    label {
                        font-size: 16px;
                        color: #555555;
                        margin-bottom: 10px;
                    }

                    &__item {
                        display: grid;
                        grid-template-columns: 40px 50px 40px;
                        justify-items: center;
                        align-items: center;

                        @media (max-width: 768px) {
                            justify-content: center;
                            grid-area: amount;
                        }

                        @media (max-width: 576px) {
                            grid-template-columns: 40px 32px 40px;
                        }

                        .smaller__btn,
                        .more__btn {
                            @include disflex(flex, center, center);
                            width: 40px;
                            height: 40px;
                            font-size: 30px;
                            border-radius: 50%;
                            background-color: #fff;
                            border: 1px solid #e1e1e1;
                            color: #242424;
                            cursor: pointer;
                            user-select: none;

                            &.amount__disabled {
                                background-color: #96969620;
                                color: #96969660;
                            }
                        }

                        p {
                        }
                    }
                }
            }

            .sum__price {
                @media (max-width: 768px) {
                    grid-area: price;
                }

                &__content {
                    @include disflex(flex, center, center);
                    flex-direction: column;

                    label {
                        font-size: 16px;
                        color: #555555;
                        margin-bottom: 12px;
                        padding: 0 5px 0 0;
                    }

                    &__item {
                        font-weight: 500;
                        @include adaptiv-fontAll(20, 18);
                    }
                }
            }

            .delete {
                @include adaptiv-fontAll(30, 30);

                a {
                    display: inline-block;
                    background: #ffffff;
                    border: 1px solid rgba(19, 19, 19, 0.5);
                    border-radius: 4px;
                    padding: 0 7px;
                    color: #121212;
                }

                @media (max-width: 768px) {
                    display: grid;
                    grid-area: delete;
                    justify-content: center;

                    a {
                        padding: 3px 7px;
                    }
                }
            }

            &-total {
                margin-top: 30px;
                display: grid;
                grid-template-columns: 38% 22% 33% 7%;
                grid-gap: 1%;
                align-items: center;
                justify-items: center;

                .total__title {
                    justify-self: start;
                    font-weight: 500;
                    @include adaptiv-fontAll(22, 20);

                    @media (max-width: 600px) {
                        justify-self: center;
                        margin-bottom: 30px;
                    }
                }

                .total__amount,
                .total__price {
                    text-align: center;

                    label {
                        font-size: 16px;
                        color: #555555;
                        margin-bottom: 5px;
                        padding: 0 5px 0 0;

                        @media (max-width: 600px) {
                            padding: 0;
                        }
                    }

                    p {
                        margin-top: 10px;
                        @include adaptiv-fontAll(20, 18);
                        font-weight: 500;

                        @media (max-width: 600px) {
                            margin-top: 5px;
                        }
                    }
                }

                @media (max-width: 600px) {
                    .total__title {
                        grid-area: amountTitle;
                    }

                    .total__amount {
                        grid-area: amountTotal;
                    }

                    .total__price {
                        grid-area: priceTotal;
                    }
                }

                @media (max-width: 600px) {
                    padding: 30px 0;
                    border: 1px solid #e1e1e1;

                    grid-template-columns: repeat(2, 1fr);
                    justify-content: center;
                    grid-template-areas:
                        "amountTitle amountTitle  "
                        "amountTotal priceTotal";
                    align-items: end;
                }
            }

            &-btn {
                @include disflex(flex, space-between, flex-start);
                margin-top: 40px;

                p {
                    @include adaptiv-fontAll(16, 16);
                    text-align: center;
                    line-height: 120%;

                    a {
                        color: rgb(37, 78, 122);
                    }
                }

                &-item {
                    form {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        align-items: center;
                        justify-items: center;
                        grid-gap: 20px;

                        @media (max-width: 758px) {
                            grid-template-columns: 1fr;
                        }

                        .next {
                            background-color: #333333;
                            border: 1px solid #333333;

                            &:hover {
                                background-color: #ffffff;
                                color: #333333;
                            }

                            @media (max-width: 976px) {
                                &:hover {
                                    background-color: #333333;
                                    color: white;
                                }
                            }
                        }

                        .clear {
                            background-color: #993030;
                            border: 1px solid #993030;
                        }

                        .clear,
                        .next {
                            color: white;
                            @include adaptiv-fontAll(18, 16);
                            padding: 10px 20px;
                            border-radius: 5px;
                            transition: 0.1s ease-in-out;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .cart {
        &__content {
            padding: 100px 10px 40px;

            h2 {
                padding: 10px 0;
            }

            &-cart {
                &-total {
                    p {
                        padding: 10px 0 0px 0;
                    }
                }

                &-btn {
                    flex-direction: column;
                    align-items: center;
                    margin-top: 20px;

                    .next,
                    .clear {
                        padding: 8px 12px;
                    }

                    .clear {
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}
