.order {
    &__content {
        padding: 150px 20px 40px 20px;
        max-width: 1024px;
        margin: 0 auto;
        color: black;
        font-family: Roboto;

        h2 {
            @extend %tph2;
            text-align: left;
        }

        &-back {
            padding: 10px 0;
            display: flex;


            p {
                font-size: 16px;
                color: rgb(37, 78, 122);
                padding: 10px 10px 10px 0;
            }

            a {
                font-size: 16px;
                text-align: center;
                color: rgb(37, 78, 122);
                padding: 10px 10px 10px 0;
            }
        }

        .tabOrder {
            &__content {
                max-width: 700px;
                margin: 0 0 20px;
                color: #121212;

                h3 {
                    font-weight: bold;
                    @include adaptiv-fontAll(20, 18);
                    line-height: 112%;
                    padding: 14px 0 12px 0;
                    position: relative;

                    &::after {
                        position: absolute;
                        content: "";
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 3px;
                        background-color: #121212;
                    }
                }

                &__title {
                    @include disflex(flex, space-between, center);
                    margin: 0 0 10px;

                    .tab__title {
                        &-btn {
                            cursor: pointer;
                            @include disflex(flex, center, center);
                            flex-direction: column;
                            width: 46.5%;
                            height: 115px;
                            background: #ffffff;
                            border: 3px solid #ebebea;
                            box-sizing: border-box;
                            border-radius: 5px;

                            img {
                                pointer-events: none;
                                width: 54px;

                                @media (max-width: 450px) {
                                    width: 47px;
                                }
                            }

                            p {
                                pointer-events: none;
                                @include adaptiv-fontAll(14, 12);
                            }

                            &:hover {
                                border: 2px solid #e85222;
                                box-sizing: border-box;
                            }

                            &.active {
                                border: 2px solid #e85222;
                                box-sizing: border-box;
                                background: rgba(232, 82, 34, 0.1);
                            }
                        }
                    }
                }

                &__item {
                    position: relative;

                    .tab__item {
                        top: 0;
                        left: 0;
                        width: 100%;
                        position: absolute;
                        visibility: hidden;
                        transition: 0.2s all;
                        opacity: 0;

                        &.active {
                            position: relative;
                            opacity: 1;
                            visibility: visible;
                        }
                    }

                    form {}
                }
            }
        }

        &-person {
            max-width: 700px;
            padding: 12px 0 10px;

            &-grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 20px 50px;
                padding-top: 10px;

                .form-group {
                    position: relative;

                    input {
                        width: 100%;
                        background: #ffffff;
                        border: 3px solid #ebebea;
                        box-sizing: border-box;
                        border-radius: 5px;
                        padding: 10px;
                        @include adaptiv-fontAll(16, 14);
                        position: relative;

                        &::placeholder {
                            @include adaptiv-fontAll(16, 14);
                        }
                    }

                    .help-block {
                        position: absolute;
                        bottom: -15px;
                        left: 0;
                        @include adaptiv-fontAll(12, 10);
                        color: red;
                    }
                }
            }
        }

        &-delivery {
            max-width: 700px;
            padding: 12px 0 10px;

            &-grid {
                display: flex;
                flex-direction: column;
                padding-top: 10px;

                .form-group {
                    position: relative;

                    input {
                        width: 100%;
                        margin-top: 20px;

                        &:first-child {
                            margin-top: 0;
                        }

                        background: #ffffff;
                        border: 3px solid #ebebea;
                        box-sizing: border-box;
                        border-radius: 5px;
                        padding: 10px;
                        @include adaptiv-fontAll(16, 14);

                        &::placeholder {
                            @include adaptiv-fontAll(16, 14);
                        }
                    }

                    .help-block {
                        position: absolute;
                        bottom: -15px;
                        left: 0;
                        @include adaptiv-fontAll(12, 10);
                        color: red;
                    }
                }

                .disabled__adress {
                    background-color: rgba(221, 221, 221, 0.5);
                    width: 100%;
                    margin-top: 20px;
                    border: 3px solid #ebebea;
                    border-radius: 5px;
                    padding: 10px;
                    @include adaptiv-fontAll(16, 14);

                    &::placeholder {
                        @include adaptiv-fontAll(16, 14);
                    }
                }
            }
        }

        &-textarea {
            max-width: 700px;
            padding: 12px 0 10px;

            &-grid {
                padding-top: 10px;

                input,
                textarea {
                    width: 100%;
                    margin-top: 20px;

                    &:first-child {
                        margin-top: 0;
                    }

                    background: #ffffff;
                    border: 3px solid #ebebea;
                    box-sizing: border-box;
                    border-radius: 5px;
                    padding: 10px;
                    @include adaptiv-fontAll(16, 14);

                    &::placeholder {
                        @include adaptiv-fontAll(16, 14);
                    }
                }
            }
        }

        &-pay {
            max-width: 700px;
            padding: 20px 0;
            position: relative;

            .help-block {
                position: absolute;
                bottom: 5px;
                left: 0;
                @include adaptiv-fontAll(12, 10);
                color: red;
            }

            &-grid {
                padding-top: 10px;
            }

            #order-payment,
            #order-type {
                display: grid;
                grid-template-columns: 170px 150px;

                label {
                    @include disflex(flex, stretch, center);

                    input {
                        width: 17px;
                        height: 17px;
                        margin-right: 5px;
                    }
                }
            }
        }

        &-btn {
            max-width: 700px;

            border-top: 3px solid #121212;

            &-grid {
                padding-top: 20px;
                text-align: right;

                button {
                    @include adaptiv-fontAll(18, 14);
                    color: white;
                    word-wrap: none;
                    padding: 10px 20px;
                    background-color: #121212;
                    border-radius: 5px;
                    border: 1px solid #121212;
                    transition: 0.1s ease-in-out;

                    &:hover {
                        background-color: #ffffff;
                        color: #121212;
                    }

                    @media (max-width: 976px) {
                        &:hover {
                            background-color: #121212;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .order {
        &__content {
            padding: 100px 20px 40px 20px;

            &-back {
                @include adaptiv-fontAll(16, 12);
            }

            h2 {
                padding: 10px 0;
            }

            &-person {
                &-grid {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    grid-gap: 20px 50px;
                    padding-top: 10px;
                }
            }

            &-pay {
                max-width: 700px;
                padding: 20px 0;
                border-top: 3px solid #000;
                position: relative;

                .help-block {
                    position: absolute;
                    bottom: 5px;
                    left: 0;
                    @include adaptiv-fontAll(12, 10);
                    color: red;
                }

                h3 {
                    font-weight: bold;
                    @include adaptiv-fontAll(20, 16);
                    line-height: 33px;
                }

                &-grid {
                    padding-top: 10px;
                }

                #order-payment,
                #order-type {
                    display: grid;
                    grid-template-columns: 160px 140px;

                    label {
                        @include disflex(flex, stretch, center);

                        input {
                            width: 17px;
                            height: 17px;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
}