.cart {
    &__content {
        padding: 60px 20px 80px;
        max-width: 1024px;
        margin: 0 auto;
        color: black;
        font-family: Roboto;
        h2 {
            @extend %tph2;
            text-align: left;
        }

        &-back {
            padding: 10px 0;
            display: flex;
            @include adaptiv-fontAll(16, 14);

            p {
                color: rgb(37, 78, 122);
                padding: 10px 10px 10px 0;
            }

            a {
                color: rgb(37, 78, 122);
                padding: 10px 10px 10px 0;
            }
        }
        &-cart {
            &-name {
                display: grid;
                grid-template-columns: 49% 27% 22% 2%;
                position: relative;
                &::after {
                    position: absolute;
                    content: "";
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: #c4c4c4;
                }
                p {
                    font-weight: 500;
                    @include adaptiv-fontAll(18, 12);
                    line-height: 30px;
                    color: #c4c4c4;
                }
            }
            &-product {
                padding: 22px 0 18px 0;
                display: grid;
                grid-template-columns: 49% 27% 22% 2%;
                align-items: center;
                position: relative;
                &::after {
                    position: absolute;
                    content: "";
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: #c4c4c4;
                }
                &-main {
                    @include disflex(flex, stretch, center);
                    img {
                        width: 100px;

                        margin-right: 3vw;
                    }
                    &-title {
                        p {
                            font-weight: 500;
                            @include adaptiv-fontAll(18, 11);
                            line-height: 20px;
                            a {
                                color: black;
                            }
                        }
                    }
                }
            }
            .sum {
                font-weight: 500;
                @include adaptiv-fontAll(18, 11);
                line-height: 28px;
            }
            .delete {
                @include adaptiv-fontAll(30, 25);
                a {
                    color: black;
                }
            }
            &-total {
                display: grid;
                grid-template-columns: 49% 27% 22% 2%;
                align-items: center;
                p {
                    padding: 30px 0 0px 0;
                    font-weight: 500;
                    @include adaptiv-fontAll(18, 14);
                    line-height: 26px;
                }
            }
            &-btn {
                @include disflex(flex, space-between, flex-start);
                padding-top: 40px;

                p {
                    @include adaptiv-fontAll(16, 12);
                    a {
                        color: rgb(37, 78, 122);
                    }
                }
                &-item {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    align-items: center;
                    justify-items: center;
                    grid-gap: 20px;
                    color: white;

                    .next {
                        @include adaptiv-fontAll(18, 12);
                        word-wrap: none;
                        padding: 10px 20px;
                        background-color: #333333;
                        border-radius: 5px;
                        border: 1px solid #333333;
                        transition: 0.1s ease-in-out;
                        &:hover {
                            background-color: #ffffff;
                            color: #333333;
                        }
                    }

                    .clear {
                        color: white;
                        @include adaptiv-fontAll(18, 12);
                        word-wrap: none;
                        padding: 10px 20px;
                        background-color: #993030;
                        border-radius: 5px;
                        border: 1px solid #993030;
                        transition: 0.1s ease-in-out;
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .cart {
        &__content {
            h2 {
                padding: 10px 0;
            }
            &-cart {
                &-product {
                    &-main {
                        img {
                            width: 40px;
                        }
                    }
                }
                &-total {
                    p {
                        padding: 10px 0 0px 0;
                    }
                }
                &-btn {
                    justify-content: flex-end;
                    padding-top: 20px;
                    p {
                        display: none;
                    }
                }
            }
        }
    }
}
