.cart {
    color: black;
    padding: 100px 20px 80px;

    &__content {
        font-family: Roboto;
        padding: 40px 20px;
        max-width: 1220px;
        margin: 0 auto;
        display: flex;

        &-sum {
            width: 35%;

            h2 {
                @extend %tph2;
                text-align: left;
            }

            &-back {
                display: flex;
                @include adaptiv-fontAll(16, 14);

                p {
                    color: rgb(37, 78, 122);
                    padding: 10px 10px 10px 0;
                }

                a {
                    color: rgb(37, 78, 122);
                    padding: 10px 10px 10px 0;
                }
            }

            &-image {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 0 25px;

                a {
                    img {
                        width: 100px;
                    }
                }

                &-text {
                    padding-left: 20px;
                    width: 100%;

                    &-title {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        a {
                            color: #000;
                            @include adaptiv-fontAll(16, 14);
                        }

                        .delete {
                            @include adaptiv-fontAll(30, 25);
                            color: rgb(167, 166, 166);
                        }
                    }

                    &-remove {
                        padding-top: 10px;
                        display: flex;
                        justify-content: space-between;

                        .quantity-block {
                            display: flex;

                            button {
                                background-color: #333333;
                                color: white;
                                width: 25px;
                                height: 25px;
                                border-radius: 50%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }

                            input {
                                width: 50px;
                                text-align: center;
                            }
                        }

                        p {
                            @include adaptiv-fontAll(18, 16);
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }

            &-total {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 20px;
                border-top: 1px solid #888888;

                h5 {
                    @include adaptiv-fontAll(22, 20);
                }

                p {
                    @include adaptiv-fontAll(22, 20);
                }
            }

            &-else {
                padding-top: 20px;

                p {
                    @include adaptiv-fontAll(16, 14);

                    a {
                        color: rgb(37, 78, 122);
                    }
                }
            }
        }

        &-pickUp {
            width: 65%;
            padding-left: 60px;

            h2 {
                @extend %tph2;
                text-align: left;
                padding-bottom: 30px;
            }

            a {
                @include adaptiv-fontAll(20, 16);
                padding: 10px 100px;
                background-color: #333333;
                border-radius: 5px;
                border: 1px solid #333333;
                transition: 0.1s ease-in-out;
                &:hover {
                    background-color: #ffffff;
                    color: #333333;
                }
            }

            p {
                padding: 35px 0 25px;
                @include adaptiv-fontAll(22, 18);
            }

            &-item {
                border-top: 1px solid #888888;
                padding-top: 20px;

                &-text {
                    h6 {
                        @include adaptiv-fontAll(18, 16);
                        line-height: 22px;
                    }

                    p {
                        padding-top: 5px;
                        @include adaptiv-fontAll(18, 16);
                        line-height: 22px;
                        color: #888888;
                    }
                }
            }
        }
    }
}

@media (max-width: 976px) {
    .cart {
        color: black;
        padding: 0px 20px 0px;
    }
    .cart__content {
        display: inline-block;
        padding: 20px 5vw;
        width: 100%;
    }
    .cart__content-sum {
        width: 100%;
    }

    .cart__content-pickUp {
        padding-top: 50px;
        padding-left: 0px;
        width: 100%;
    }
}

@media (max-width: 576px) {
    .cart__content-sum-image {
        a {
            img {
                width: 80px;
            }
        }
    }
    .cart__content-sum-image-text-remove {
        .quantity-block {
            input {
                width: 40px;
                text-align: center;
            }
        }
    }
    .cart__content-pickUp {
        a {
            padding: 10px 20px;
        }
    }
}
