.order {
    &__content {
        padding: 60px 20px 80px;
        max-width: 1024px;
        margin: 0 auto;
        color: black;
        font-family: Roboto;

        &-back {
            padding: 10px 0;
            display: flex;
            @include adaptiv-fontAll(16, 14);

            p {
                color: rgb(37, 78, 122);
                padding: 10px 10px 10px 0;
            }

            a {
                color: rgb(37, 78, 122);
                padding: 10px 10px 10px 0;
            }
        }

        h2 {
            @extend %tph2;
            text-align: left;
        }
        &__tabs {
            &__items {
                display: flex;
                &-item {
                    cursor: pointer;
                    flex: 0 1 50%;
                    text-align: center;

                    padding: 20px;
                    border: 1px solid #c4c4c4;
                    &:hover {
                        border: 1px solid #fc4a02;
                    }
                    &.active {
                        border: 1px solid #fc4a02;
                        background-color: rgba(252, 74, 2, 0.1);
                    }
                    margin-right: 15px;
                    &:last-child {
                        margin-right: 0;
                    }
                    margin-bottom: 10px;
                    img {
                        width: 50px;
                    }
                    p {
                        padding-top: 5px;
                        font-size: 14px;
                        text-transform: uppercase;
                    }
                }
            }
            &__body {
                .tabs__block {
                    &-name {
                        display: grid;
                        grid-template-columns: 69% 29%;
                        grid-gap: 2%;
                    }
                }
            }
        }
        .tabs__text {
            margin: 10px 0;
            @include disflex(flex, stretch, stretch);
            flex-direction: column;

            label {
                font-weight: 500;
                padding-bottom: 5px;
                @include adaptiv-fontAll(14, 14);
            }
            input {
                padding: 10px 5px;
                border: 1px solid #c4c4c4;
                @include adaptiv-fontAll(14, 14);
                margin-bottom: 10px;
            }
            .disabled__input {
                background-color: rgba(122, 122, 122, 0.1);
            }
        }
        &__btn {
            text-align: right;
            padding-top: 10px;
            .next {
                @include adaptiv-fontAll(18, 12);
                word-wrap: none;
                padding: 10px 20px;
                background-color: #333333;
                border-radius: 5px;
                border: 1px solid #333333;
                transition: 0.1s ease-in-out;
                &:hover {
                    background-color: #ffffff;
                    color: #333333;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .order__content {
        h2 {
            padding: 10px 0;
        }
    }
}
