.order {
    &__content {
        padding: 150px 20px 40px 20px;
        max-width: 1024px;
        margin: 0 auto;
        color: black;
        font-family: Roboto;

        &-back {
            padding: 10px 0;
            display: flex;
            @include adaptiv-fontAll(16, 14);

            p {
                color: rgb(37, 78, 122);
                padding: 10px 10px 10px 0;
            }

            a {
                color: rgb(37, 78, 122);
                padding: 10px 10px 10px 0;
            }
        }

        h2 {
            @extend %tph2;
            text-align: left;
        }

        &-person {
            max-width: 700px;
            border-top: 3px solid #000;
            padding: 20px 0;

            h3 {
                font-weight: bold;
                @include adaptiv-fontAll(20, 18);
                line-height: 33px;
            }

            &-grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 20px 50px;
                padding-top: 10px;

                .form-group {
                    position: relative;

                    input {
                        width: 100%;
                        background: #ffffff;
                        border: 3px solid #ebebea;
                        box-sizing: border-box;
                        border-radius: 5px;
                        padding: 10px;
                        @include adaptiv-fontAll(16, 14);
                        position: relative;


                        &::placeholder {
                            @include adaptiv-fontAll(16, 14);
                        }


                    }

                    .help-block {
                        position: absolute;
                        bottom: -15px;
                        left: 0;
                        @include adaptiv-fontAll(12, 10);
                        color: red;
                    }

                }



            }
        }

        &-delivery {
            max-width: 700px;
            padding: 20px 0 0 0;
            border-top: 3px solid #000;

            h3 {
                font-weight: bold;
                @include adaptiv-fontAll(20, 16);
                line-height: 33px;
            }

            &-grid {
                display: flex;
                flex-direction: column;
                padding-top: 10px;

                .form-group {
                    position: relative;

                    input {
                        width: 100%;
                        margin-top: 20px;

                        &:first-child {
                            margin-top: 0;
                        }

                        background: #ffffff;
                        border: 3px solid #ebebea;
                        box-sizing: border-box;
                        border-radius: 5px;
                        padding: 10px;
                        @include adaptiv-fontAll(16, 14);

                        &::placeholder {
                            @include adaptiv-fontAll(16, 14);
                        }
                    }



                    .help-block {
                        position: absolute;
                        bottom: -15px;
                        left: 0;
                        @include adaptiv-fontAll(12, 10);
                        color: red;
                    }



                }

                .disabled__adress {
                    background-color: rgba(221, 221, 221, 0.5);
                    width: 100%;
                    margin-top: 20px;
                    border: 3px solid #ebebea;
                    border-radius: 5px;
                    padding: 10px;
                    @include adaptiv-fontAll(16, 14);

                    &::placeholder {
                        @include adaptiv-fontAll(16, 14);
                    }
                }


            }
        }

        &-textarea {
            max-width: 700px;
            padding: 20px 0;

            h3 {
                font-weight: bold;
                @include adaptiv-fontAll(20, 16);
                line-height: 33px;
            }

            &-grid {
                padding-top: 10px;

                input,
                textarea {
                    width: 100%;
                    margin-top: 20px;

                    &:first-child {
                        margin-top: 0;
                    }

                    background: #ffffff;
                    border: 3px solid #ebebea;
                    box-sizing: border-box;
                    border-radius: 5px;
                    padding: 10px;
                    @include adaptiv-fontAll(16, 14);

                    &::placeholder {
                        @include adaptiv-fontAll(16, 14);
                    }
                }
            }
        }

        &-pay {
            max-width: 700px;
            padding: 20px 0;
            border-top: 3px solid #000;
            position: relative;

            .help-block {
                position: absolute;
                bottom: 5px;
                left: 0;
                @include adaptiv-fontAll(12, 10);
                color: red;
            }

            h3 {
                font-weight: bold;
                @include adaptiv-fontAll(20, 16);
                line-height: 33px;
            }

            &-grid {
                padding-top: 10px;
            }

            #order-payment,
            #order-type {
                display: grid;
                grid-template-columns: 170px 150px;


                label {
                    @include disflex(flex, stretch, center);

                    input {
                        width: 17px;
                        height: 17px;
                        margin-right: 5px;
                    }
                }




            }
        }

        &-btn {
            max-width: 700px;

            border-top: 3px solid #000;

            &-grid {
                padding-top: 20px;
                text-align: right;

                button {
                    @include adaptiv-fontAll(18, 14);
                    color: white;
                    word-wrap: none;
                    padding: 10px 20px;
                    background-color: #333333;
                    border-radius: 5px;
                    border: 1px solid #333333;
                    transition: 0.1s ease-in-out;

                    &:hover {
                        background-color: #ffffff;
                        color: #333333;
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .order {
        &__content {
            padding: 100px 20px 40px 20px;

            &-back {
                @include adaptiv-fontAll(16, 12);
            }

            h2 {
                padding: 10px 0;
            }

            &-person {

                &-grid {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    grid-gap: 20px 50px;
                    padding-top: 10px;
                }
            }

            &-pay {
                max-width: 700px;
                padding: 20px 0;
                border-top: 3px solid #000;
                position: relative;

                .help-block {
                    position: absolute;
                    bottom: 5px;
                    left: 0;
                    @include adaptiv-fontAll(12, 10);
                    color: red;
                }

                h3 {
                    font-weight: bold;
                    @include adaptiv-fontAll(20, 16);
                    line-height: 33px;
                }

                &-grid {
                    padding-top: 10px;
                }

                #order-payment,
                #order-type {
                    display: grid;
                    grid-template-columns: 160px 140px;


                    label {
                        @include disflex(flex, stretch, center);

                        input {
                            width: 17px;
                            height: 17px;
                            margin-right: 5px;
                        }
                    }
                }
            }


        }
    }
}