.readyOrder {
    &__content {
        padding: 250px 20px 150px 20px;
        max-width: 1120px;
        margin: 0 auto;
        color: black;
        text-align: center;
        img {
            width: 250px;
        }
        p {
            padding-top: 20px;
            @include adaptiv-fontAll(20, 14);
            line-height: 18px;

            margin: 0 auto;
            width: 80%;
        }
    }
}

@media (max-width: 967px) {
    .readyOrder__content {
        padding: 120px 20px 50px 20px;
        img {
            width: 150px;
        }
    }
}
