.readyOrder {
    padding: 0 15px 0 15px;
    max-width: 1120px;
    margin: 0 auto;
    &-back {
        padding: 20px 0 20px 0px;
        display: flex;
        flex-wrap: wrap;
        p,
        a {
            font-weight: 500;
            @include adaptiv-fontAll(16, 12);
            line-height: 30px;
            color: #c4c4c4;
        }
        p {
            padding: 0 10px;
        }
    }
    &__content {
        margin: 100px auto;
        margin-top: 30px;
        max-width: 500px;
        padding: 46px 26px;
        background: #ffffff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        &-sum__item,
        &-dostavka,
        &-work {
            @include disflex(flex, space-between, center);
            p {
                font-weight: 500;
                @include adaptiv-fontAll(16, 14);
                line-height: 30px;
                padding-bottom: 30px;
            }
        }
        &-total {
            @include disflex(flex, center, center);
            font-weight: 500;
            @include adaptiv-fontAll(20, 18);
            line-height: 42px;
            padding: 15px 0 35px 0;
        }
        &-button {
            text-align: center;
            a {
                color: white;
                font-weight: 500;
                @include adaptiv-fontAll(16, 14);
                line-height: 35px;
                background: #072969;
                border-radius: 10px;
                padding: 12px 20px;
            }
        }
    }
}

@media (max-width: 967px) {
    .readyOrder {
        padding: 10px 20px 40px 10px;
    }
}
