.aboutUs {
    position: relative;
    color: #000;
    position: relative;
    padding: 0;

    &__content {
        padding: 15vh 20px;
        max-width: 1400px;
        margin: 0px auto;

        h2 {
            @extend %tph2;
        }

        &-item {
            padding-top: 50px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            align-items: center;
            justify-items: center;

            &-left {
                width: 80%;

                p {
                    user-select: none;
                    @include adaptiv-fontAll(40, 20);
                    text-align: center;
                    line-height: 45px;
                }
            }

            &-right {
                width: 70%;

                img {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 976px) {
    .aboutUs__content-item {
        grid-template-columns: 1fr;
        padding-top: 25px;
    }

    .aboutUs__content-item-right {
        display: none;
    }

    .aboutUs__content-item-left {
        width: 100%;
        p {
            line-height: 30px;
        }
    }
}

@media (max-width: 768px) {
    .aboutUs__content {
        padding: 6vh 10px 8vh 10px;
    }
}
