.listMin1 {
	display: none;
	position: absolute;
	top: 15%;
	left: 5%;
	z-index: 100;
	width: 100px;

	img {
		width: 100%;
	}
}

.listMin2 {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 5%;
	z-index: 100;
	width: 100px;

	img {
		width: 100%;
	}
}

.listMin3 {
	display: none;
	position: absolute;
	bottom: -20%;
	left: 5%;
	z-index: 100;
	width: 100px;

	img {
		width: 100%;
	}
}

.listMin4 {
	display: none;
	position: absolute;
	bottom: -15%;
	right: 5%;
	width: 100px;
	z-index: 100;

	img {
		width: 100%;
	}
}

@media (max-width: 976px) {
	.listMin1,
	.listMin2,
	.listMin3,
	.listMin4 {
		display: block;
	}
}
