.mainSection {
    // background: url("/img/back.jpg") 100% 100% no-repeat;
    // background-size: 100vh 100vw;
    background-color: black;
    height: 60vh;
    margin-top: 80px;
    position: relative;
    z-index: 100;
    &::after {
        z-index: 10;
        padding-bottom: 290px;
        position: absolute;
        content: "";
        background: url("/img/back123.jpg") no-repeat;
        bottom: -290px;
        left: 0;
        width: 100vw;
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        justify-items: center;
        padding: 0 20px 10vh 20px;
        max-width: 1400px;
        margin: 0px auto;

        &-left {
            text-align: center;

            h1 {
                user-select: none;
                font-family: Drina;
                @include adaptiv-fontAll(90, 26);
                text-transform: uppercase;
                margin-bottom: 70px;
            }

            a {
                @extend %tpbutton;
            }
        }

        &-right {
            z-index: 100;
            img {
                max-height: 65vh;
            }
        }
    }
}
