.menuBefore {
    margin-bottom: -1px;

    img {
        width: 100vw;
    }
}

.menuAfter {
    margin-top: -1px;
    padding-bottom: 10vh;

    img {
        width: 100vw;
    }
}

.menu {
    position: relative;
    background-color: black;
    width: 100vw;

    &__content {
        @include disflex(flex, space-between, center);
        flex-direction: column;
        max-width: 1400px;
        margin: 0px auto;
        padding: 0px 20px 50px 20px;

        h2 {
            @extend %tph2;
        }

        &-item {
            @include disflex(flex, space-between, center);

            &-box {
                img {
                    width: 20vw;
                }

                h3 {
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 20px;
                }
            }
        }

        &-button {
            margin-top: 50px;
            text-align: center;

            a {
                @extend %tpbutton;
            }
        }
    }
}
