.aboutUs {
    position: relative;
    color: #000;
    position: relative;
    padding: 0;

    &__content {
        padding: 12vh 20px;
        max-width: 1320px;
        margin: 0px auto;

        h2 {
            @extend %tph2;
        }

        &-item {
            padding-top: 50px;
            p {
                font-family: Montserrat;
                max-width: 1215px;
                margin: 0 auto;
                user-select: none;
                @include adaptiv-fontAll(26, 20);
                line-height: 45px;
                margin-bottom: 50px;
                @media (max-width: 768px) {
                    line-height: 35px;
                }
                @media (max-width: 468) {
                    line-height: 32px;
                }
            }
            &-grid {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
                @media (max-width: 1319px) {
                    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
                }
                @media (max-width: 500px) {
                    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                }
                .about__grid {
                    position: relative;
                    padding: 0px 0px 85% 0px;
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .grid__big {
                    grid-column: span 2;
                    grid-row: span 2;
                }
            }
        }
    }
}
