.list2 {
    position: absolute;
    bottom: -24%;
    left: -5%;
    z-index: 100;
    width: 27vw;

    @media (max-width:1669px) {
        bottom: -22%;
    }

    @media (max-width:1473px) {
        bottom: -20%;
    }

    @media (max-width:1249px) {
        bottom: -18%;
    }

    @media (max-width:1249px) {
        bottom: -16%;
    }

    img {
        width: 100%;
    }
}


@media (max-width: 976px) {

    .list2 {
        display: none;
    }
}