.filter {
    // background-color: #f53906;
    margin-top: 100px;
    font-family: SourceSansPro;

    &__content {
        max-width: 900px;
        margin: 0 auto;
        padding: 40px 0 0 0;

        ul {
            font-size: 13px;
            text-transform: uppercase;
            display: flex;
            justify-content: space-between;
            align-items: center;

            li {
                a {
                    font-family: SourceSansPro;
                    font-weight: 600;
                    color: #121212;
                    transition: 0.2s all;

                    &:hover {
                        color: #f53906;
                    }

                    &.active {
                        color: #f53906;
                    }
                }
            }
        }

        &-button {
            display: none;
        }
    }
}

@media (max-width: 976px) {
    .filter {
        margin-top: 40px;
        background-color: white;
    }

    .filter__content {
        ul {
            display: none;
        }
    }

    .filter__content-button {
        display: block;
        width: 100%;
        padding: 10px 0 22px 0;

        a {
            border-radius: 5px;
            width: 90%;
            margin: 0 auto;
            color: #121212;
            background-color: #121212;
            color: #fff;
            @include adaptiv-fontMin(20, 15);
            text-align: center;
            padding: 10px 20px;
            display: block;
        }
    }
}

// Окно фильра Mini

.filter__box-mini {
    overflow: auto;
    flex-wrap: nowrap;
    flex-flow: column nowrap !important;
    position: fixed;
    z-index: 100;
    right: 0;
    bottom: 0;
    padding-top: 70px;
    height: 100%;
    background-color: #e3e3e3;
    width: 100%;
    box-shadow: -3px 2px 9px rgba(88, 88, 88, 0.52);
    transform: translateX(100%);
    transition: 0.3s cubic-bezier(0.69, 0.4, 0.4, 0.75);

    &.open {
        transform: translateX(0);
    }
}

.title__box-mini {
    font-family: SourceSansPro;
    @include disflex(flex, space-between, center);
    flex-wrap: nowrap;
    background-color: #f53906;
    width: 100%;
    height: 40px;
    padding: 1vmax 1.5vmax;
    color: white;
    fill: white;
    cursor: pointer;
    @include adaptiv-fontMin(20, 15);
}

.title__box-mini i {
    width: 1.5vmax;
    height: 1.5vmax;
    color: white;
    font-weight: bold;
    color: white;
}

.contetnt__filter {
    font-family: SourceSansPro;
    padding: 30px;

    &__item {
        background-color: white;

        ul {
            padding: 20px;

            li {
                padding-bottom: 20px;

                a {
                    @include adaptiv-fontMin(18, 15);
                    color: #121212;

                    &.active {
                        color: #f53906;
                    }
                }

                &:last-child {
                    padding-bottom: 0;
                }
            }
        }
    }
}