.info__item__pay {
    position: fixed;
    z-index: 9999999;
    background: #e85222;
    border-radius: 20px 0 0 20px;
    right: -100%;
    top: 16%;
    @include disflex(flex, center, center);
    opacity: 0;
    transition: 0.6s ease-in-out;
    @media (max-width: 976px) {
        top: 18%;
    }

    p {
        font-family: Roboto;
        padding: 15px 20px;
        @include adaptiv-fontAll(20, 14);
        line-height: 23px;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
    }
    &.active {
        opacity: 1;
        right: 0;
    }
}
