$sizemediaProduct: 600px;

.title__menu {
    position: relative;
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 20px;
    &__btn {
        position: absolute;
        top: 50px;
        z-index: 50;
        right: 0;
        @media (max-width: 976px) {
            display: none;
        }

        a {
            font-family: Roboto;
            background: #242424;
            border-radius: 5px;
            padding: 6px 22px;
            color: #ffffff;
            font-size: 20px;
            line-height: 18px;
            text-transform: uppercase;
            margin: 0 16px 0 0;

            :last-child {
                margin: 0 0 0 0;
            }
        }
    }
}

.menu {
    position: relative;
    width: 100%;

    &__content {
        max-width: 1260px;
        margin: 0 auto;
        padding: 36px 20px 67px;

        @media (max-width: 976px) {
            padding: 0 20px 67px;
        }

        @media (max-width: $sizemediaProduct) {
            padding: 0 10px 67px;
        }
        h2 {
            color: #121212;
            text-align: left;
            font-family: SourceSansPro;
            font-style: normal;
            font-weight: 600;
            @include adaptiv-fontAll(30, 24);
            text-transform: uppercase;
        }

        &__item {
            padding: 30px 0 0 0;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(285px, 2fr));
            gap: 36px 20px;
            font-family: SourceSansPro;
            grid-auto-columns: 1fr;

            @media (max-width: $sizemediaProduct) {
                padding: 20px 0 0 0;
                gap: 20px;
            }

            &__grid {
                padding: 0 0 20px 0;
                display: grid;
                grid-auto-flow: row;
                grid-template: auto 1fr 35px minmax(26px, auto) / 1fr;
                justify-content: center;
                text-align: center;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

                @media (min-width: 976px) {
                    transition: 0.1s ease-in-out;

                    &:hover {
                        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
                    }
                }

                @media (max-width: $sizemediaProduct) {
                    box-shadow: 0 0 00px rgba(0, 0, 0, 0);
                    padding: 0;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: auto auto;
                    grid-template-areas:
                        "image title title"
                        "image price btn";
                }

                a {
                    position: relative;
                    padding: 0 0 100% 0;
                    margin: 0 0 10px 0;

                    @media (max-width: $sizemediaProduct) {
                        grid-area: image;
                        margin: 0 0 0 0;
                    }

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .title__product {
                    margin: 20px 10px;
                    padding: 0;
                    color: #121212;
                    font-size: 19px;
                    line-height: 21px;
                    font-weight: 600;

                    @media (max-width: $sizemediaProduct) {
                        font-weight: 500;
                        margin: 0 0 10px 5px;
                        @include adaptiv-fontCatalog(28, 16);
                        line-height: 130%;
                        grid-area: title;
                        text-align: left;
                    }
                }

                p {
                    font-family: Montserrat;
                    font-weight: 600;
                    color: #e85222;
                    font-size: 23px;
                    padding-bottom: 15px;

                    @media (max-width: $sizemediaProduct) {
                        @include disflex(flex, center, center);
                        @include adaptiv-fontCatalog(35, 22);
                        color: #121212;
                        grid-area: price;
                        font-weight: 600;
                        padding: 0;
                    }
                }

                .add-to-cart {
                    font-family: SourceSansPro;
                    border-radius: 3px;
                    color: white;
                    margin: 0 auto;
                    background: #e85222;
                    box-shadow: 2px 2px 3px #989898;
                    padding: 8px 15px;
                    font-size: 20px;

                    @media (max-width: $sizemediaProduct) {
                        @include disflex(flex, center, center);
                        @include adaptiv-fontCatalog(30, 17);
                        display: grid;
                        align-self: end;
                        grid-area: btn;
                        padding: 15px 8px;
                        line-height: 21px;
                        width: 100%;
                        height: max-content;
                    }

                    @media (max-width: 400px) {
                        padding: 10px 8px;
                    }
                }
            }

            .image__none {
                background: rgba(204, 204, 204, 0.3);
                @include disflex(flex, center, center);
                min-height: 447px;

                P {
                    font-size: 22px;
                    color: #121212;
                }

                @media (max-width: $sizemediaProduct) {
                    min-height: 100px;
                }
            }
        }
    }
}

.start {
    opacity: 0.5;
    position: absolute;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    @media (max-width: 600px) {
        width: 200px;
        height: 200px;
    }
    @media (max-width: 600px) {
        width: 150px;
        height: 150px;
    }
    @media (max-width: 600px) {
        width: 100px;
        height: 100px;
    }
}
