%tpbutton {
    font-family: Montserrat;
    text-transform: uppercase;
    @include adaptiv-fontAll(26, 20);
    background-color: #fc4a02;
    border: 1px solid #fc4a02;
    padding: 6px 30px;
    border-radius: 30px;
    color: white;
    transition: 0.2s all;

    &:hover {
        color: white;
        background-color: #121212;
    }

    @media (max-width: 976px) {
        &:hover {
            background-color: #fc4a02;
        }
    }
}

%tph2 {
    text-align: center;
    @include adaptiv-fontAll(40, 35);
    text-transform: uppercase;
    font-family: Drina;
    line-height: 40px;
    font-weight: 600;
}

@media (max-width: 700px) {
    %tph2 {
        line-height: 10px;
    }
}