@import "mixins.scss";
@import "preloader.scss";
@import "fonts";
@import "_null";
@import "view";
@import "animate";
@import "header-footer/header";
@import "header-footer/burger";
@import "mainPage/mainSection";
@import "mainPage/aboutUs";
@import "mainPage/list";
@import "mainPage/map";
@import "menu/menu";
@import "menu/filter";
@import "menu/catalog";
@import "menu/product";
@import "menu/infoPayPopup";
@import "contact/contact";
@import "cart/cart";
@import "cart/order";
@import "cart/readyOrder";
@import "header-footer/footer";
@import "alcohol/alcohol";

body {
    color: #fff;
    background-color: white;
    font-family: PTSans;

    a {
        color: #fff;
        cursor: pointer;
    }
}

.start {
    opacity: 0.5;
    position: absolute;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    @media (max-width: 600px) {
        width: 200px;
        height: 200px;
    }
    @media (max-width: 600px) {
        width: 150px;
        height: 150px;
    }
    @media (max-width: 600px) {
        width: 100px;
        height: 100px;
    }
}
