@import "mixins.scss";
@import "preloader.scss";
@import "fonts";
@import "_null";
@import "view";
@import "animate";
@import "delivery/delivery";
@import "header-footer/header";
@import "header-footer/burger";
@import "mainPage/mainSection";
@import "mainPage/aboutUs";
@import "mainPage/list";
@import "mainPage/map";
@import "menu/menu";
@import "menu/filter";
@import "menu/catalog";
@import "menu/product";
@import "menu/infoPayPopup";
@import "contact/contact";
@import "cart/cart";
@import "cart/order";
@import "cart/readyOrder";
@import "header-footer/footer";
@import "alcohol/alcohol";

body {
    color: #fff;
    background-color: white;
    font-family: PTSans;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    a {
        color: #fff;
        cursor: pointer;
    }
}
